:root {
  --checkedInColor: #f2bc94;
  --reservedColor: #ffd55a;
  --newUserColor: #cccccc;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0px);
  }
}

.slide-from-left {
  animation: slideFromLeft 2s;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}

body {
  background-color: white;
  padding: 20px;
}

.icons {
  width: 200px;
  height: 200px;
  transition: all 0.3s;
  box-shadow: 10px 10px 15px -2px rgba(0, 0, 0, 0.75);
}

.icons:hover {
  transform: translateX(10px);
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  /* justify-content: space-between; */
}

.left-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.right-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.starting-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.mid-content {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.description {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.hide {
  display: none;
}
